*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin",sans-serif;
}

.container{
    margin: auto;
    padding: 0 32px;
    max-width: 1200px;
}

a{
    text-decoration: none;
}

@import 'section2';
@import 'update';

#addPage{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: blue;
    color: white;
    border-radius: 9999999px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 35px;
    font-weight: 600;
    transition: all 0.5s ease;
    z-index: 1;
    &:hover{
        width: 150px;
        border-radius: 50px;
        &::after{
            content: "Add";
            font-size: 20px;
            font-weight: 300;
        }
    }
}
#favPage{
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: blue;
    color: white;
    border-radius: 9999999px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-weight: 600;
    transition: all 0.5s ease;
    z-index: 1;
    &:hover{
        width: 150px;
        border-radius: 50px;
        &::after{
            content: "Favorites";
            font-size: 20px;
            font-weight: 300;
        }
    }
}