*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin",sans-serif;
}

.container{
    margin: auto;
    padding: 0 32px;
    max-width: 1200px;
}

a{
    text-decoration: none;
}

@import 'section2';